@page "/"

<PageTitle>Blazor Cadastro e Manutenção de Clientes</PageTitle>


<div class="jumbotron">
    <h1 class="display-4">Cadastro de clientes usando .net 8+ Blazor</h1>
    <hr class="my-4">
    <p>Clique abaixo ou ao lado para Visualizar os clientes cadastrados</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="clientes" role="button">Clientes</a>
    </p>
</div>